body {
  font-family: roboto;
}

.post-1 {
	background: #F3D250;
}
.post-2 {
	background: #8D8741;
}
.post-3 {
	background: #659DBD;
}
.post-4 {
	background: #DAAD86;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #0b192f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav, footer{
  height: 73px;
  width: 95%;
  background-color: #162b4d;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 7vw;
}

.hamburger {
  display: none;
}

nav a,
nav a:visited{
  padding: 27px;
  text-decoration: none;
  color: #fff ;
}

nav a:hover{
  background-color: #b8b8b85d;
  color: #b8b8b8;

}

.logo {
  padding-left: 2vw;
}

.logo_title {
  font-weight: 300;
  color: white;
}

.logo_title span {
  color: red;
  font-weight: lighter;
}

.main-wrapper {
  margin-top: 103px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  height: auto;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  width: 75%;
  height: 100%;
}

.blog-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
  position: relative;
}

.blog-container img {
  display: flex;
  width: 50%;
  height: auto;
}

.blog-container::after{
  content: '';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(222, 255, 33, 0.397);
  opacity: 0;
  transition: all 0.5s;
}

.blog-container:hover:after{
  opacity: 1;
}

.post {
  display: flex;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}

.post-content {
  width: 75%;
}

.post-title h2{
  color:#484848;
  font-weight: 100;
  font-size: 30px;
  padding-left: 20px;
}

.post-text {
  line-height: 2em;
  font-size: 12px;
  color: #484848;
  padding-left: 20px;
}

.post-day p,
.post-month p{
  font-size: 50px;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  text-align: center;
  color: #484848;
}

.post-month p{
  font-size: 25px;
}

.post-date {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-end;
  color: #484848;
  margin: 20px;
}

.blog-wrapper .blog-container:nth-child(2n) > img{
  order: 2;
}

.blog-wrapper .blog-container:nth-of-type(2n) > .post .post-date{
  order: -1;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 20px;
}

.blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content{
  padding-right: 20px;
  padding-left: 0px;
}

.blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content .post-title,
.blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content .post-text{
text-align: right;
}

.blog-container-wide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  background-image: url(../img/post5.jpg);
  background-position: center;
  background-size: cover;
}

.font-color-white,
.font-color-white h2 {
  color: white;
}

.blog-container-wide .post-title,
.blog-container-wide .post-text {
  padding-left: 30px;
  padding-right: 30px;
}

footer {
  position: static;
  margin-top: 30px;
}


.news, .news-wrapper{
  width: 23%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.news-wrapper {
  width: 100%;
  align-items: flex-start;
  margin-bottom: 30px;
  background-color: white;
}

.news-wrapper img {
  width: 100%;
  height: auto;
}

.news-wrapper h2 {
  font-weight: 100;
  font-size: 30px;
  padding-left: 20px;
  color: #484848;

}

.news-wrapper p {
  line-height: 2em;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: #484848;
}

.news-wrapper button {
  margin: 20px;
  background-color: white;
  border: 1px solid black;
  height: 30px;
  font-family: roboto;
}

.news-wrapper button:hover {
  border: none;
  border-bottom: 1px solid black;
}

.footer-container {
  color: #484848;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen  and (max-width : 1200px) {

  .blog-wrapper .blog-container:nth-child(2n) > img{
    order: unset;
  }

  .blog-wrapper .blog-container:nth-of-type(2n) > .post .post-date{
    order: unset;
    align-items: flex-end;
    padding-right: unset;
    padding-left: unset;
  }

  .blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content{
    padding-right: unset;
    padding-left: unset;
  }

  .blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content .post-title,
  .blog-wrapper .blog-container:nth-of-type(2n) > .post .post-content .post-text{
  text-align: unset;
  }

  .main-wrapper {
    margin-top: 133px;
  }

  .blog-container {
    flex-direction: column;
  }

  .blog-container img {
    width: 100%;
  }

  .post {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    justify-content: space-between;
  }

  .post-content {
    width: 100%;
  }

  .post-date {
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    padding-bottom: 30px;
  }

  .blog-wrapper {
    width: 60%;
  }

  .news{
    width: 37%;
  }

  footer{
    flex-direction: column;
    height: auto;
  }

  .footer-container {
    text-align: center;
  }

  nav {
    flex-direction: column;
    height: auto;
  }

  nav ul {
    display: none;
  }

  .hamburger{
    margin-top: 20px;
    display: block;
  }
  .hamburger div {
    width: 30px;
    height: 3px;
    background-color:#fff;
    margin: 4px 0;
  }

}

@media only screen  and (max-width : 650px) {
  .main-wrapper {
    flex-direction: column;
  }

  .blog-wrapper {
    width: 100%;
  }

  .news{
    width: 100%;
    margin-top: 30px;
  }
}