$img-back: no-repeat url("../img/m-h-day.jpg");
$img-bottom: center 60%;
$font-main-color: #2c2f3c;
$font-main: 'Source Sans Pro', sans-serif;
$font-alt: 'Hind', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;
$font-logo: 'Hind', sans-serif;
$button-color: #699900;
$text-color: #c0c3ce;
$card-color: #21232e;
$gradient: ("first": #65940f, "second":#2f5dd0);
$highlight: #14a0c7;
$back-color: white;
$logo-margin: -10px;
