$img-back: center no-repeat url("../img/m-h-night.jpg");
$img-bottom: center 60%;
$font-main-color: white;
$font-main: 'Fresca', sans-serif;
$font-alt: 'Source Sans Pro', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;
$font-logo: 'Fresca', sans-serif;
$button-color: #e3ac00;
$text-color: #c0c3ce;
$card-color: #3b3f50;
$gradient: ("first": #e2aa02, "second":#922c53);
$highlight: #ff4e33;
$back-color: #21232e;
$logo-margin: 0px;